<!-- Header -->
<siteheader></siteheader>

<!-- Message -->
<div style="position:relative;z-index: 1;">
    <div style="position:absolute;top:5px;width:100%;">
        <alert ng-repeat="alert in alerts" ng-animate="'alertdisplay'" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
</div>

<!-- Login -->
<div class="panel panel-default">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="tddDreamerId">Dreamer ID</label>
                <input type="text" class="form-control" id="tddDreamerId"
                       placeholder="example: yourID_xxxxxxxxxx-yyyyyyyyyy">
            </div>
            <div class="form-group">
                <button class="btn btn-default">log in</button>
            </div>
        </form>
    </div>
</div>

<!-- Register -->
<div class="panel panel-default">
    <div class="panel-heading">Register</div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="tddRegisterEmail">Email Address</label>
                <input type="email" class="form-control" id="tddRegisterEmail" placeholder="example: example@gmail.com">
            </div>
            <div class="form-group">
                <label for="tddRegisterUserName">User Name</label>
                <input type="text" class="form-control" id="tddRegisterUserName" placeholder="example: LA_Dreamer">
            </div>
            <div class="form-group">
                <button class="btn btn-default">register</button>
            </div>

        </form>
    </div>
</div>

<!-- Footer -->
<sitefooter></sitefooter>