<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand my-header" href="/"><span class="title-end">the</span><span class="title-center">dream</span><span class="title-end">drop</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:featurelink.text == 'drop'}"><a href="/drop">Drop</a></li>
                <li ng-class="{active:featurelink.text == 'recall'}"><a href="/recall">Recall</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active:featurelink.text == 'about'}"><a href="/about">About</a></li>
                <li ng-class="{active:featurelink.text == 'contact'}"><a href="/contact">Contact</a></li>
                <li ng-class="{active:featurelink.text == 'contact'}"><a href="/settings">Settings</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>